extends ../includes/template

block main
  include ../includes/navigation
  .ed-container.main-section
    include ../includes/menu
    main(itemscope itemprop="mainContentOfPage" role="main").ed-item.l-75.main-main
      h1 Base (CSS/Sass)
      p Los estilos base normalizan los elementos HTML para Responsive Web Design. 
      include:markdown-it ../../md/base-1.md
  include ../includes/footer