extends ../includes/template

block main
  include ../includes/navigation
  .ed-container.main-section
    include ../includes/menu
      block link-section
        - var active = 'Botones (Sass/CSS)';
    main(itemscope itemprop="mainContentOfPage" role="main").ed-item.l-75.main-main
      h1 Botones (Sass/CSS)
  include ../includes/footer