extends ../config/template
include ../includes/banner
append config
  -title = "Casos de éxito"
  -description = "Casos de éxito que se encuentran actualmente en producción y que utilizan la librería de EDgrid."
  -ogUrl = "/casos-exito.html"

  -img = "https://envato-shoebox-0.imgix.net/76f4/e0bc-34d8-43ef-9366-38458ab3b1e1/K-136-Tong-4102.jpg?w=800&fit=max&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark2.png&markalpha=18&markalign=center%2Cmiddle&auto=compress%2Cformat&s=a04723c0d140cbef5ec4955f80265602"
  -title = "Casos de Éxito"
  -description = "Los resultados nos respaldan, aqui una seleción de los mas significativos proyectos realizados por miembros de la Comunidad EDteam, empresas y más"
  -clase = ""
  -boton = ""
  -botonClass= ""
  -botonUrl=""
  -botonIco= ""
  -botonText =""
  -botones = ""

block main
  +banner(img, title, description, clase, boton, botonClass, botonUrl, botonIco, botonText, botones)
  .ed-container.main-section
