extends ../config/template
append config
  -title = "EDgrid | Comenzar"
  -description = "Puede usar EDgrid con CSS y Sass."
  -ogUrl= "/comenzar.html"

block main
  .ed-container.main-section
    include ../includes/docs-menu
    main(itemscope itemprop="mainContentOfPage" role="main").ed-item.l-75.main-main
      include:markdown-it(html) ../../md/docs/comenzar.md
