extends ../config/template
include ../includes/banner
append config
  -title = "EDgrid | Créditos"
  -description = "Créditos de quien realizo la librería, colaboro desarrollando el portal."
  -ogUrl = "/creditos.html"

  -img = "https://envato-shoebox-0.imgix.net/f916/edc1-a2ac-44bc-b357-e9418433049c/WM2A8729.jpg?w=800&fit=max&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark2.png&markalpha=18&markalign=center%2Cmiddle&auto=compress%2Cformat&s=544aa3c4f7789e2120e872ee310058e2"
  -titleBanner = "Créditos"  
  -descriptionBanner = "Gracias a todas las personas que contribuyeron a crear este gran proyecto."
  -clase = "accent"
  -boton = ""
  -botonClass= ""
  -botonUrl=""
  -botonIco= ""
  -botonText =""
  -botones = ""

block main
  +banner(img, titleBanner, descriptionBanner, clase, boton, botonClass, botonUrl, botonIco, botonText, botones)
  .ed-container.main-section
