extends ../config/template
append config
  -title = "Base"
  -description = "Bla bla bla"
  -active = "Créditos"

block main
  .main-banner--accent.main-banner
    .ed-container
      .ed-item.l-75.to-center
        img(src="https://static.pexels.com/photos/546819/pexels-photo-546819.jpeg").main-banner__img
        .main-banner__data
          h1 Créditos
  .ed-container.main-section
