extends ../config/template
append config
  -title = "EDgrid | Créditos"
  -description = "Créditos de quien realizo la librería, colaboro desarrollando el portal."
  -ogUrl = "/creditos.html"

block main
  .main-banner--accent.main-banner
    .ed-container
      .ed-item.l-75.to-center
        img(alt="" src="https://static.pexels.com/photos/546819/pexels-photo-546819.jpeg").main-banner__img
        .main-banner__data
          h1 Créditos
  .ed-container.main-section
