extends ../config/template
append config
  -title = "EDgrid | Comenzar"
  -description = "Puede usar EDgrid con CSS y Sass."
  -ogUrl= "/comenzar.html"

block main
  .main-banner.main-banner--secondary
    .ed-container
      .ed-item.l-75.to-center
        img(alt="" src="https://static.pexels.com/photos/265152/pexels-photo-265152.jpeg").main-banner__img
        .main-banner__data
          h1 Documentación de EDgrid
  .ed-container.main-section
    include ../includes/docs-menu
    main(itemscope itemprop="mainContentOfPage" role="main").ed-item.l-75.main-main
      include:markdown-it(html) ../../md/docs/documentacion.md
