extends ../includes/template
block main
  .main-banner--.main-banner
   .ed-container
    .ed-item.l-75.to-center
     img(src="https://static.pexels.com/photos/546819/pexels-photo-546819.jpeg").main-banner__img
     .main-banner__data
       h1 Lorem ipsum.
       p.subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam distinctio quia, dolore necessitatibus nemo nam, dolor ducimus labore inventore, ea animi impedit assumenda totam, sequi libero alias asperiores eos voluptas..