extends ../includes/template


block main
  include ../includes/navigation
  .main-banner--.main-banner
    .ed-container
      .ed-item.l-75.to-center
        img(src="https://static.pexels.com/photos/546819/pexels-photo-546819.jpeg").main-banner__img
        .main-banner__data
          h1 EDgrid
          p.subtitle Hacer páginas web responsive, nunca fue tan rápido
          .center
            a.button--cta Slack
            a.button--cta Github
            a.button--cta.button--last(href="comenzar.html") Documentación
  include ../includes/menu
  include ../includes/footer