body {
  margin: 64px 0 0 0;
}

// alineación de íconos
[class*="icon"].space::before {
  position : relative;
  top : .1em;
  margin-right : .3em;
}

.button--last{
  margin-right: 0;
}

.data-list li :first-child {
  max-width: 75%;
}
