footer.main-footer(role="contentinfo" itemscope itemtype="http://schema.org/WPFooter")
  .ed-container.main-footer--content
    
    .ed-item.l-50.to-center.center
      p.smaller EDgrid es una librería Sass/Css para crear diseños web responsive y mobile first.
        a.icono(href="https://edlabs.slack.com" target="_blank" title="Slack de EDgrid")
          span.icon-slack.space
        a.icono(href="https://github.com/escueladigital/EDgrid" target="_blank" title="Github EDgrid")
          span.icon-github.space 
        a.icono(href="comenzar.html" target="_blank" title="Documentación de EDgrid")
          span.icon-docs.space

    .ed-item.center
      p.smaller EDgrid, desarrollada por 
        a(href="http://alvarofelipe.net/" target="_blank" title="Blog de Alvaro Felipe") Alvaro Felipe 
        |- 2015
