footer.main-footer(role="contentinfo" itemscope itemtype="http://schema.org/WPFooter")
  .ed-container.main-footer--content
    
    .ed-item.l-50.to-center.center
      p.smaller EDgrid es una librería Sass/Css para crear diseños web responsive y mobile first.
        a(href="https://edlabs.slack.com" target="_blank" title="Slack de EDgrid").icon-slack.space
        a(href="https://github.com/escueladigital/EDgrid" target="_blank" title="Github EDgrid").icon-github.space
        a(href="comenzar.html" target="_blank" title="Documentación de EDgrid").icon-docs.space

    .ed-item.center
      p.smaller EDgrid, <a href="http://alvarofelipe.net/" target="_blank" title="Blog de Alvaro Felipe">Alvaro Felipe</a> 2015 - 2018
