footer.main-footer(role="contentinfo" itemscope itemtype="http://schema.org/WPFooter")
  .ed-container
    .ed-item
      .small EDgrid por 
       a(href="http://alvarofelipe.net" itemprop="url" target="_blank") 
        span(itemprop="author") Álvaro Felipe
