aside(itemscope="itemscope" itemtype="http://schema.org/WPSideBar" role="complementary").ed-item.l-25.main-sidebar.sidebar-first
  .vertical-menu-toggle.to-l(data-content="Filtros")
  nav(itemscope itemtype="http://schema.org/WPSideBar").vertical-menu
    ul
      li(itemprop="url")
        a(href="comenzar.html" itemprop="name") Comenzar con EDgrid
      li(itemprop="url")
        a(href="estructura.html" itemprop="name") Estructura de archivos
      li(itemprop="url")
        a(href="css.html" itemprop="name") CSS
      li(itemprop="url")
        a(href="sass.html" itemprop="name") Sass
      li(itemprop="url")
        a(href="flujo.html" itemprop="name") Flujo de trabajo (CSS/Sass)
      li(itemprop="url")
        a(href="configurar.html" itemprop="name") Configurar (Sass)
      li(itemprop="url")
        a(href="base.html" itemprop="name") Base (CSS/Sass)
      li(itemprop="url")
        a(href="core.html" itemprop="name") Core (CSS/Sass)
      li(itemprop="url")
        a(href="mediaqueries.html" itemprop="name") Mediaqueries (Sass)
      li(itemprop="url")
        a(href="modo-dev.html" itemprop="name") Modo dev
      li(itemprop="url")
        a(href="grid.html" itemprop="name") Grid (Sass/CSS)
      li(itemprop="url")
        a(href="visibilidad.html" itemprop="name") Visibilidad (CSS/Sass)
      li(itemprop="url")
        a(href="flexbox.html" itemprop="name") Flexbox (CSS/Sass)
      li(itemprop="url")
        a(href="funciones.html" itemprop="name") Funciones (Sass)
      li(itemprop="url")
        a(href="helpers.html" itemprop="name") Helpers (CSS/Sass)
      li(itemprop="url")
        a(href="offset.html" itemprop="name") Offset (Sass/CSS)
      li(itemprop="url")
        a(href="videos.html" itemprop="name") Videos responsive (Sass/CSS)
      li(itemprop="url")
        a(href="botones.html" itemprop="name") Botones (Sass/CSS)
      li(itemprop="url")
        a(href="menus.html" itemprop="name") Menus (Sass/CSS)
