block link-section
  - var active = 'Documentación';
  
- var menu = { 'Documentación': '/comenzar.html', 'Casos de éxito': '/casos-exito.html', 'Changelog': '/changelog.html', 'Créditos': '/creditos.html', 'Ir a EDteam': '//ed.team/' };

header(itemscope itemtype="http://schema.org/WPHeader").main-header
  .ed-container
    .ed-item.s-40.l-15.cross-center(itemscope itemtype="http://schema.org/Organization")
      a(href="/" itemprop="url")
        img(alt="Imagotipo de EDteam" itemprop="logo" src="https://ed.team/themes/custom/escueladigital/img/EDteam-logo.svg" title="Imagotipo de EDteam").main-logo
    .ed-item.s-60.m-0.l-85.xl-85.main-menu-container.cross-center.main-end
      nav(itemscope itemtype="http://schema.org/SiteNavigationElement" role="navigation").main-menu#main-menu
        ul
          each val, key in menu
            li(itemprop="url")
              if active === key
                a.active(href=val itemprop="name" title=key)= key
              else
                a(href=val itemprop="name" title=key id=active)= key
