header(itemscope itemtype="http://schema.org/WPHeader").main-header
  .ed-container
    .ed-item.s-40.l-15.cross-center(itemscope itemtype="http://schema.org/Organization")
      a(href="/" itemprop="url")
        img(alt="Imagotipo de EDgrid" itemprop="logo" src="../images/EDgrid-logo.svg" title="Imagotipo de EDgrid").main-logo
    .ed-item.s-60.m-0.l-85.xl-85.main-menu-container.cross-center.main-end
      nav(itemscope itemtype="http://schema.org/SiteNavigationElement" role="navigation").main-menu#main-menu
        ul
          li
            a(href="comenzar.html" itemprop="url") Documentación
          li
            a(href="casos-exito.html" itemprop="url") Casos de éxito
          li
            a(href="changelog.html" itemprop="url") Changelog
          li
            a(href="creditos.html" itemprop="url") Créditos
          li
            a(href="//ed.team/" itemprop="url" target="_blank") Ir a EDteam
      .main-menu-toggle.to-l#main-menu-toggle
