doctype html
html(lang="es")
  head
    title EDgrid | EDteam
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1.0, width=device-width")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,400i,700|Open+Sans:700")
    link(rel="stylesheet" href="css/styles.css")
  body
    block header
    block main
    include footer
    script(src="js/scripts.js")
